<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/de1d01ded7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .carousel-inner carousel-item{
        height:200px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BASKETS 'N' JOY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href=" http://127.0.0.1:8000/admin/">ADMIN LOGIN</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              REGISTER
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/gifapp/siglog/">Register for Shops</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/gifapp/usl/">Register for Users</a></li>

            </ul>
          </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">BLOG</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">SEARCH</button>
        </form>
      </div>
    </div>
  </nav>



<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.shopify.com/s/files/1/0471/2824/8475/collections/BYOH_BANNER.jpg?v=1675152197" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="https://cdn.shopify.com/s/files/1/0509/6082/6530/files/low_dimention-01_1500x.png?v=1673331070" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="https://www.italyabroad.com/resources/images/banner.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row">
<div class="card" style="width: 18rem;height:450px;border-radius:20px;margin-left:80px;margin-top:30px;">
  <img src="https://cdn.shopify.com/s/files/1/0471/2824/8475/files/Curated-Hamper-bb-desktop.jpg?v=1659146514" style="width: 260px;height:250px;margin-top:30px;padding-left:40px;" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">CURATED HAMPERS</p>
  </div>
</div>
<div class="card" style="width: 18rem;height:450px;border-radius:20px;margin-left:80px;margin-top:30px;">
  <img src="https://cdn.shopify.com/s/files/1/0471/2824/8475/files/BYOH.jpg?v=1614376744" style="width: 260px;height:250px;margin-top:30px;padding-left:40px;" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">BUILT YOUR OWN HAMPER</p>
  </div>
</div>
<div class="card" style="width: 18rem;height:450px;border-radius:20px;margin-left:80px;margin-top:30px;">
  <img src="https://cdn.shopify.com/s/files/1/0471/2824/8475/files/Frozen-Delights-bb-desktop.jpg?v=1659146514" style="width: 260px;height:250px;margin-top:30px;padding-left:40px;" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">FROZEN DELIGHTS</p>
  </div>
</div>
  <div class="card" style="width: 18rem;height:450px;border-radius:20px;margin-left:80px;margin-top:30px;">
  <img src="https://cdn.shopify.com/s/files/1/0471/2824/8475/files/24hr-highlight.png?v=1672863081" style="width: 260px;height:250px;margin-top:30px;padding-left:40px;" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">24 HOURS DELIVERY</p>
  </div>
</div>
<!--  <div class="card" style="width: 18rem;height:450px;border-radius:20px;margin-left:80px;margin-top:30px;">-->
<!--  <img src="https://cdn.shopify.com/s/files/1/0471/2824/8475/files/VC-HL.png?v=1675684555" style="width: 260px;height:250px;margin-top:30px;padding-left:40px;" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <p class="card-text">VALENTINE'S CONFECTIONERY</p>-->
<!--  </div>-->
<!--</div>-->
</div>
</body>
</html>